*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

h4, p {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #eaeaea;
}

h3 {
    font-size: 24px;
    color: #666;
    margin: 25px auto;;
}

.precios {
    font-size: 18px;
    flex-grow: 0.3;
}

.main-navbar {
    width: 90%;
    margin: auto;
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;   
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
    margin: 20px auto;
}

.descuentos {
    font-size: 16px;
    color: green;
    flex-grow: 0.7;
}

.descripciones {
    font-size: 16px;
    margin-top: 30px;
    font-weight: normal;
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.burger-menu { 
    background-color: #1259c3;
    display: block;
    border-radius: 5px;
    width: fit-content;
    margin: 20px auto;
}

.burger-menu i {
    font-size: 30px;
    margin: 10px;
    color: white;
}

.banner {
    background-color: #eaeaea;
}

.banner img{
    width: 100%;
}

footer {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.icon_footer:hover{
    color: rgb(100, 193, 247);
}

.image {
    width: 100%;
    display: block;
}

.icon_footer {
    margin-top: 30px;
    color: #1259c3;
    font-size: 2em;
}

li a i {
    margin-left: 5px;
}

main {
    margin: auto;
    width: 90%;
}

article {
    background-color: white;
    margin: 10px auto 0px auto;
    flex-basis: 100%;
}

article:hover {
    box-shadow: 0px 0px 15px rgb(100 100 100);
}

.contenedor-detalles-de-precio{
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding: 15px;
}

.contenedor-detalles-de-precio {
    position: relative;
}

.contenedor-detalles-de-precio i{
    color: green;
    font-size: 16px;
}

.contenedor-detalles-de-precio i:hover{
    transform: rotate(-90deg);
    transition-duration: 1s;
    transition-timing-function: ease;
}

.contenedor-detalles-de-precio:hover .descripciones{
    display: block;
}

.text--center{
    text-align: center;
    flex-basis: 100%;
}

header {
    background-color: #EAC926;
}

.precio-descuento {
    display: flex;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    }

main section {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

header div img {
    flex-basis: 50%;
    width: 50%;
}

.search {
    flex-basis: 50%;
    margin:auto;
    background-color: white;
    border-radius: 10px;
}

.search input {
    width: 80%;
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.search button{
    background-color: white;
    border: none;

}
.search i{
    font-size: 25px;
}

.flex-container img, div, p {
    margin: auto;
}

.classform{
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (min-width: 361px) {
    .descripciones{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px; 
    }
    .main-navbar a{
        font-size: 12px; 
    }
    .burger-menu {
        display: none; 
    }

    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        flex-basis: 47%;
    }
    .search {
        flex-basis: 33%;
    }
    header div img {
        flex-basis: 33%;
        width: 33%;
    }
    .text--center {
        flex-basis: 33%;
        margin: auto;
    }
}

@media (min-width: 769px) {
    .descripciones{
        display: none;
    }
    .main-navbar{
        margin-top: 40px;
        margin: auto;
    }
    .main-navbar li{
        margin: 0 10px; 
    }
    .main-navbar a{
        font-size: 19px; 
    }
    .burger-menu {
        display: none; 
    }
    article {
        flex-basis: 20%;
    }
    footer {
        flex-direction: row;
        column-gap: 10px;
    }
    
}